<div class="" id="fig-contain">
    <div class="" id="info-box">
        <div id="app-desc">
            <div class="results-wrapper">
                <div class="results-container">
                    <h2 id="results-title">Results</h2>
                    <div class="result-placer">
                        <div class="form-container">
                                <div class="center-results">
                                    {{#each results as |result|}}
                                    <div class="display-container">
                                        <div class="image-container">
                                            <div class="vehicle-image">vehicle image</div>
                                            <div class="vehicle-favorite">Favorite Vehicle<i class="fa-solid fa-heart results-heart"></i></div>                                            
                                        </div>
                                        <div class="content-container">
                                            <h2 class="car-name">{{make}} {{model}} {{year}}</h2>
                                            <div class="car-trans">Drive Type: <span id="car-data">{{drive}}</span> Trans: <span id="car-data">{{trans}}</span></div>
                                            <div class="car-mpg"># of cylinders: <span id="car-data">{{cylinders}}</span> MPG: <span id="car-data">{{mpg}}</span></div>
                                        </div>
                                    </div>
                                    {{/each}}
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="./js/api.js"></script>
<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
